# ========================
# GENERAL
# ========================
node_modules/
*.log
*.env
.env

# ========================
# PYTHON (AI)
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env/
*.pt
*.pth

# ========================
# .NET
# ========================
bin/
obj/
*.user
*.suo
*.cache
*.userosscache
*.dll
*.sln.docstates

# ========================
# VS / VS CODE
# ========================
.vs/
.vscode/

# Rider
.idea/

# ========================
# OS FILES
# ========================
.DS_Store
Thumbs.db

# NuGet
*.nupkg
packages/

appsettings.Development.json
appsettings.Local.json